.doogle {
  
  text-align: center;

  .doogle-title {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 75px;
    .blue {
      color: #4285F4;
    }
    
    .yellow {
      color: #FBBC05;
    }
    
    .green {
      color: #34A853;
    }
    
    .red {
      color: #EA4335;
    }
  }
  
  .doogle-form {
    .error-display {
      border: 2px solid red;
    }
    
    .error-message {
      color: red;
    }
    
    #word-input {
      width: 400px;
      padding: 3px;
    }
    
    .definitions {
      text-align: left;
    }
  }
  
}